@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Noto Sans', sans-serif;
}

html, body{
height: 100%;
width: 100%;
}

.container{
    width: 100%;
    /* width: 100vh; */
    /* height: 100vh; */
    background-color: #C8CDD0;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-box{
    display: flex;
    gap: 30px;
}

.temp-box .temp-first{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.temp-first-line{
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}

.temp-first-line-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.temp-first-line-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.temp-first-line .green-box{
    background-color: #E1FF01;
    width: 300px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
}

.green-box .green-box-text h3{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

.green-box .green-box-text p{
    font-size: 10px;
    font-weight: 400;
    color: gray;
}

.green-box .two-dots{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.green-box .two-dots span{
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
}

.temp-first .temp-first-white-box{
    background-color: white;
    border-radius: 40px;
    padding: 20px;
}

.temp-first-white-box .tfwb-first{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.tfwb-first .tfwb-title{
    margin-left: 16px;
}

.tfwb-first .tfwb-title h4{
    font-size: 14px;
}

.tfwb-first .tfwb-title p{
    font-size: 12px;
    color: gray;
}

.tfwb-first .tfwb-icon{
    margin-left: auto;
    background: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
}

.tfwb-box{
    background-color: #F3F5F6;
    display: flex;
    padding: 13px 25px 13px 15px;
    border-radius: 50px;
    margin-bottom: 12px;
    align-items: center;
}

.tfwb-box-img{
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    padding: 7px;
    margin-right: 16px;
}

.tfwb-box img{
    width: 100%;
    height: 100%;
}

.tfwb-box .tfwb-box-title h4{
    font-size: 14px;
    margin-bottom: 5px;
}

.tfwb-box .tfwb-box-title p{
    font-size: 11px;
    color: gray;
}

.tfwb-box .tfwb-box-title p span{
    margin-inline: 6px;
}

.tfwb-box i{
    margin-left: auto;
}

.temp-second{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.temp-second .air-con{
    background-color: white;
    width: 350px ;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
}

.air-con .conver{
    width: 100%;
}

.air-con .air-con-title{
    display: flex;
    align-items: center;
}

.air-con-title img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.air-con-title .air-con-head h4{
    font-size: 14px;
}

.air-con-head p{
    font-size: 11px;
    color: gray;
}

.air-con-title .on{
    margin-left: auto;
    background-color: #E8EBED;
    border-radius: 50px;
    display: flex;
    font-size: 11px;
    align-items: center;
    padding: 5px 5px 5px 11px;
}

.air-con-title .on i{
    background: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.air-con-title .on span{
    width: 4px;
    height: 4px;
    background: black;
    border-radius: 50%;
    margin-inline: 5px;
}

.air-con .alarm{
    background-color: #97B9FF;
    width: fit-content;
    border-radius: 50px;
    padding: 4px 9px;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    margin-top: 10px;
}

.alarm i{
    font-size: 16px;
}

.day-box{
    background-color: #E5E7E9;
    border-radius: 30px;
    padding: 20px;
}

.day-f-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    margin-bottom: 15px;
}


.day-f-blue-boxes{
    background-color: #97B9FF;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

.day-f-line{
    display: flex;
    justify-content: space-between;
}

.day-f-line .day-icon{
    background: white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.day-f-line .day-two-dots{
    display: flex;
    gap: 5px;
}

.day-two-dots span{
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
}

.day-text{
    margin-top: 30px;
}

.day-text h3{
    font-size: 14px;
    margin-bottom: 3px;
}

.day-text p{
    font-size: 11px;
    color: gray;
}

.day-f-white-box{
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: 50%;
}

.day-f-white-box .day-f-line .day-icon{
    background-color: #E1FF01;
}

.day-last{
    display: flex;
    background-color: white;
    border-radius: 50px;
    padding: 4px 20px 4px 4px;
}

.day-last .plus-bg{
    /* background-color: #E5E7E9; */
    background-color: #E5E7E9;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.plus-bg i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
}

.day-last .day-last-text{
    margin-left: 15px;
}

.day-last .day-last-text h4{
    font-size: 12px;
}

.day-last .day-last-text p{
    font-size: 10px;
    color: gray;
}

.day-last button{
    margin-left: auto;
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 7px 14px;
    font-size: 10px;
}

@media (max-width:768px){

    .container{
        padding: 20px;
    }

    .temp-box{
        flex-direction: column;
        width: 100%;
    }

    .temp-first-line{
        justify-content: center;
    }

    .temp-second .air-con{
        width: 100%;
    }
}